<%= form_for(@news) do |f| %>
  <div class="control-group <%= control_state(@news, :title) %>">
    <%= f.label :title, class: "control-label bolded-label" %>
    <div class="controls">
      <%= f.text_field :title, placeholder: 'Title of the news' %>
      <span class="help-inline valid-hidden"><%= field_errors(@news, :title) %></span>
    </div>
  </div>
  <div class="control-group <%= control_state(@news, :content) %>">
    <%= f.label :content, class: 'control-label bolded-label' %>
    <div class="controls">
      <%= f.text_area :content, style: 'max-height: 200px;', placeholder: 'Content of the news...' %>
      <span class="help-inline valid-hidden"><%= field_errors(@news, :content) %></span>
    </div>
  </div>
  <div class="control-group <%= control_state(@news, :author) %>">
    <%= f.label :author, class: 'control-label bolded-label' %>
    <div class="controls">
      <%= f.text_field :author %>
      <span class="help-inline valid-hidden"><%= field_errors(@news, :author) %></span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-small' %>
  </div>
<% end %>
