<h1>News</h1>

<table class="table table-hover table-bordered">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= link_to news.title, news %></td>
    <td><%= news.author %></td>
    <td>
      <%= link_to edit_news_path(news), class: 'btn btn-mini' do %>
        <span><%= 'Edit' %></span>
        <i class="icon-pencil"></i>
      <% end %>
      <%= link_to news, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' do %>
        <span><%= 'Delete' %></span>
        <i class="icon-trash"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
